.student-club {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 120px;

  h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 38px;
    letter-spacing: 0%;
    color: #000000;
  }

  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #212121;
  }

  .club-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

    img {
      width: 285px;
      height: 285px;
      max-width: 285px;
      max-height: 285px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      object-fit: cover;
      display: block;
    }
  }
}

@media screen and (max-width: 450px) {
  .student-club {
    margin-top: 60px !important;

    h2 {
      font-size: 28px !important;
      line-height: 38px !important;
    }

    p {
      font-size: 12px !important;
      line-height: 23px !important;
    }

    .club-gallery {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px !important;

      img {
        width: 164px !important;
        height: 128px !important;
        border-radius: 20px !important;
      }
    }
  }
}
