.container-fluid,
.container {
  width: 100%;
  margin-inline: auto;
}

.container-fluid {
  max-width: 1440px;
}

.container {
  max-width: 1248px;
}

@media screen and (max-width: 450px) {
  .container-fluid {
    width: 100%;
  }

  .container {
    max-width: 343px;
  }
}
